html,
body {
    height: 100%;
    font-size: 14px;
    font-family: "Georgia", "sans-serif";
}

header {
    height: 230px;
    text-align: center;
}

h1 {
    font-size: 200%;
    text-align: center;
}

h2 {
	text-align: center;
}

main {
    height: 100%;
    text-align: center;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    padding: 1%;
    min-width: 300px;
}

tr {
	border: solid 1px #000000;
    padding: 1%;
}

td {
	padding: 15%;
    font-weight: 500;
	/*white-space: nowrap;*/
}

footer {
    height: 20%;
}

#answer1 {
	background: pink;
}
#answer2 {
	background: cyan;
}
#answer3 {
	background: magenta;
}
#answer4 {
	background: yellow;
}

#pictureShow {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.hidden {
    display: none;
}

.bigLogo {
     height: 300px;
}

.finalImage {
    height: 400px;
    text-align: center;
}